@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');


:root {
    
        --white:#FFFFFF;
        --lightgreen:#C0DF34;
        --lightseagreen:#2AB2AF;
        --lightergreen:#4ABEBD;
        --lightblue:#E6EFF6;
        --purplishgrey:#98A6BD;
        --boxshadow:rgba(0, 0, 0, 0.25);
   
  
}
body{
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
}
*{
    align-items: center;
    font-family:"Karla", sans-serif;
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    margin: 0%;
}

.container {
   
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    margin-top: 75px;
    margin-right: 20px;
    width: 100%;
}
.main-h, .bottom{
    margin-top: 30px;
}

.main-h, .bottom .price, .bottom .why {
    padding-left:  25px;
    padding-right: 25px;
}
/*Header Section*/
.container .main-h .primary {
    color: var(--lightergreen);
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;

}

 .main-h .secondary {
    color: var(--lightgreen);
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}
 .main-h .grey-text {
    color: var(--purplishgrey);
    line-height: 25px;
    max-width: 300px;
    padding-top: 15px;
}

/* Price Section*/

.container .bottom{
    display: block;
}
.bottom .price, .bottom .why {
    width: auto;
}
.container .price {
    background: var(--lightseagreen);
    padding-top: 30px;
    padding-bottom: 25px;
}

.price .bottom-h, .why .bottom-m{
    font-size: 20px;
    font-weight: 700;
}

.price .amount-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.amount-wrapper .large-text {
    font-size: 30px;
    font-weight: 700;
}
.amount-wrapper .mid {
    color: #cbd2dc;
    padding-left: 10px;
}
.price .small-text {
    padding-top: 12px;
}

.price .btn {
    align-items: center;
    background-color: var(--lightgreen);
    border-radius: 7px;
    border: none;
    font-weight: 700;
    justify-content: center;
    height: 50px;
    margin-top: 30px;
    width: 100%;
}

/* why us */
.bottom .why{
    background: var(--lightergreen);
    padding-top: 30px;
    padding-bottom: 15px;
}
.why .disc  {
    color: rgb(219, 228, 232);
    max-width: 230px;
    line-height: 22px;
    padding-top: 20px;

}
footer .attribution {
    color: #2AB2AF;

}

/*Media for tablets*/


@media screen and (min-width: 768px) and (
    max-width: 992px){
        .container {
            margin-left: 80px;
            margin-right: 80px;
        }

        .why .disc {
            max-width: 350px;
        }
    }
/*media for desktop*/
    @media screen and (min-width: 992px){
        .container{
            margin-top: 160px;
            width: 630px;
        }

        .container .main-h .primary{
            font-size: 30px;

        }
        .main-h .secondary{
            font-size: 20px;
        }
        .main-h .grey-text{
            max-width: 800px;
            font-size: 17px;
        }

        .container .bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .bottom .price, .bottom .why {
            width: 100%;
        }

        .bottom .why{
            height: 200px;
        }
        .why .disc {
            line-height: 20px;
        }

    }

footer   {
    color: #2AB2AF;
    justify-self: baseline;
}    

